html {
    background-color: #19B3B1;
    overflow-y: scroll;
}

.mainTabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleHeading {
    color: #D1DDDB;
}


.titleDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultsTab {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    min-width: 50%;
    background-color: #1D6A96;
    margin-top: 35px;
}


.resultText {
    color: #D1DDDB;
}

.scoreTab {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2.5px solid black;
    min-width: 40%;
    background-color: #BC5F6A;
    margin-top: 35px;
}

.scoreLabels {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}

.labelDivider {
    width: 180px;
}

.playerScoreLabel {
    margin-left: 20px;
}

.computerScoreLabel {
    margin-right: 10px;
}

.scoreContainers {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: space-between;
    margin-bottom: 30px;
}

.containerDivider {
    width: 190px;
}

.playerScoreContainer {
    border: 2px solid black;
    padding: 0px 50px;
}

.computerScoreContainer {
    border: 2px solid black;
    padding: 0px 50px;
}

.playerTab {
    position: relative;
    display: flex;
    border: 2px solid black;
    padding: 100px;
    min-width: 40%;
    flex-direction: column;
    align-items: center;
    background-color: #14B09B;
    margin-top: 35px;
}

.playerButtons {
    position: relative;
    display: flex;
    flex-direction: row;
}

.playerTab a {
    width: 50px;
    height: 25px;
    margin: 0 70px;
    padding: 20px 35px;
    border: 1px solid black;
    background-color: #F2DD66;
    align-items: center;
}

.playerTab a:hover {
    border: 3px solid black;
}

#scissors {
    padding-right: 50px;
}

#rock {
    padding-left: 40px;
}

.resetTab {
    position: relative;
    display: flex;
    margin-top: 40px;
}

.tryAgainButton {
    padding: 5px 10px;
    border: 2px solid black;
    background-color: #D1DDDB;
}

.tryAgainButton:hover {
    border: 3px solid black;
}

a {
    text-decoration: none;
}